Repository ahimico/ahimi: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): implement react query provider
  .vscode/settings.json
  apps/multiverse/pages/_app.tsx
  apps/multiverse/pages/index.tsx
  apps/multiverse/specs/index.spec.tsx
  apps/multiverse/src/configs/react-query.ts
  apps/multiverse/src/providers/react-query.tsx
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

chore(core): use next layout functionality
  apps/multiverse/pages/_app.tsx
  apps/multiverse/pages/_document.tsx
  apps/multiverse/pages/index.tsx
  apps/multiverse/src/providers/index.ts
  apps/multiverse/src/types/common.ts
  apps/multiverse/src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore(core): update project next config
  .eslintignore
  .gitpod.yml
  .lintstagedrc
  apps/multiverse/.eslintignore
  apps/multiverse/next.config.js
  apps/multiverse/pages/_app.tsx
  apps/multiverse/pages/_document.tsx
  apps/multiverse/pages/index.tsx
  apps/multiverse/project.json
  apps/multiverse/public/manifest.json
  apps/multiverse/src/components/seo/pwa-headers.tsx
  apps/multiverse/src/configs/react-query.ts
  apps/multiverse/src/misc/client-bootstrap.ts
  apps/multiverse/src/misc/index.ts
  apps/multiverse/src/providers/react-query.tsx
  libs/configs/.babelrc
  libs/configs/README.md
  libs/configs/project.json
  libs/configs/src/core.ts
  libs/configs/src/index.ts
  libs/configs/src/notion-client.ts
  libs/configs/src/react-query.ts
  libs/configs/tsconfig.json
  libs/configs/tsconfig.lib.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

chore(core): prevent affect build overload in pre-push phase
  .husky/pre-push
Due: prettier --write --ignore-unknown

feat(repo): add lighthouse metrics and ci pipeline
  .github/workflows/lighthouse-ci.yml
  .npmrc
  lighthouserc.js
  package.json
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(repo): prevent build step in the gitpod pipeline
  .gitpod.yml
Due: prettier --write --ignore-unknown

fix(repo): lighthouse serving command
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

update meta configuration of project (#1)
  .eslintignore
  .github/workflows/lighthouse-ci.yml
  .gitpod.yml
  .husky/pre-push
  .lintstagedrc
  .npmrc
  apps/multiverse/.eslintignore
  apps/multiverse/next.config.js
  apps/multiverse/pages/_app.tsx
  apps/multiverse/pages/_document.tsx
  apps/multiverse/pages/index.tsx
  apps/multiverse/project.json
  apps/multiverse/public/manifest.json
  apps/multiverse/src/components/seo/pwa-headers.tsx
  apps/multiverse/src/configs/react-query.ts
  apps/multiverse/src/misc/client-bootstrap.ts
  apps/multiverse/src/misc/index.ts
  apps/multiverse/src/providers/react-query.tsx
  libs/configs/.babelrc
  libs/configs/README.md
  libs/configs/project.json
  libs/configs/src/core.ts
  libs/configs/src/index.ts
  libs/configs/src/notion-client.ts
  libs/configs/src/react-query.ts
  libs/configs/tsconfig.json
  libs/configs/tsconfig.lib.json
  lighthouserc.js
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

Add .deepsource.toml
  .deepsource.toml
Due: prettier --write --ignore-unknown

feat(app): add custom svg pattern favicon
  apps/multiverse/next.config.js
  apps/multiverse/pages/_document.tsx
  apps/multiverse/src/components/seo/pwa-headers.tsx
  apps/multiverse/src/constants/index.ts
  apps/multiverse/src/constants/theme-constants.ts
  apps/multiverse/src/misc/client-bootstrap.ts
  apps/multiverse/src/misc/favicon.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

cleanup(app): move context menu to exprimental section
  apps/multiverse/pages/index.tsx
  apps/multiverse/src/components/@experimental/context-menu.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): add basic section for categories
  apps/multiverse/.eslintrc.json
  apps/multiverse/next.config.js
  apps/multiverse/pages/index.tsx
  apps/multiverse/src/components/descriptive-category/descriptive-category.tsx
  apps/multiverse/src/components/descriptive-category/index.ts
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

cleanup(app): resolve linter and prettier code issue
  README.md
  apps/multiverse/pages/index.tsx
  apps/multiverse/src/components/@experimental/context-menu.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): add artstation cdns for image embedings
  apps/multiverse/next.config.js
  apps/multiverse/src/components/descriptive-category/descriptive-category.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): connect notion categories to app
  .env.sample
  apps/multiverse/pages/index.tsx
  apps/multiverse/src/components/descriptive-category/descriptive-category.tsx
  apps/multiverse/src/helpers/notion.ts
  apps/multiverse/tailwind.config.js
  libs/configs/src/index.ts
  libs/configs/src/notion-databases.ts
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(testing): resolve categories in the landing page
  apps/multiverse/specs/index.spec.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(app): resolve types issue for common property selector
  apps/multiverse/src/helpers/notion.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore(app): add type-check executor
  .gitignore
  .husky/pre-push
  README.md
  apps/multiverse/project.json
  nx.json
  package.json
  tools/executors/type-check/executor.json
  tools/executors/type-check/package.json
  tools/executors/type-check/schema.json
  tools/executors/type-check/type-check.impl.ts
  tools/scripts/commit-lint.ts
  tools/tsconfig.executors.json
  tools/tsconfig.scripts.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(repo): change commit lint file to typescript
  package.json
  tools/scripts/commit-lint.ts
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(core): add github secrete env to lighthouse
  .github/workflows/lighthouse-ci.yml
Due: prettier --write --ignore-unknown

fix(core): resolve building deps for nx-ci
  .github/workflows/nx-ci.yml
Due: prettier --write --ignore-unknown

fix(core): resolve nx ci build stage
  .github/workflows/nx-ci.yml
  nx.json
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(app): resolve security issue
  apps/multiverse/next.config.js
  apps/multiverse/pages/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

Implement the landing page (#6)
  .env.sample
  .github/workflows/lighthouse-ci.yml
  .github/workflows/nx-ci.yml
  .gitignore
  .husky/pre-push
  README.md
  apps/multiverse/.eslintrc.json
  apps/multiverse/next.config.js
  apps/multiverse/pages/index.tsx
  apps/multiverse/project.json
  apps/multiverse/specs/index.spec.tsx
  apps/multiverse/src/components/@experimental/context-menu.tsx
  apps/multiverse/src/components/descriptive-category/descriptive-category.tsx
  apps/multiverse/src/components/descriptive-category/index.ts
  apps/multiverse/src/helpers/notion.ts
  apps/multiverse/tailwind.config.js
  libs/configs/src/index.ts
  libs/configs/src/notion-databases.ts
  package.json
  tools/executors/type-check/executor.json
  tools/executors/type-check/package.json
  tools/executors/type-check/schema.json
  tools/executors/type-check/type-check.impl.ts
  tools/scripts/commit-lint.ts
  tools/tsconfig.executors.json
  tools/tsconfig.scripts.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(app): resolve the force push errors
  apps/multiverse/pages/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore(core): bump next version
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(app): resolve the force push errors (#7)
  apps/multiverse/pages/index.tsx
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): add base json data for movies and arts page
  apps/multiverse/pages/arts/index.tsx
  apps/multiverse/pages/index.tsx
  apps/multiverse/pages/movies/index.tsx
  apps/multiverse/src/types/index.ts
  libs/configs/src/notion-client.ts
  libs/configs/src/notion-databases.ts
  package.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

fix(app): remove notion types
  apps/multiverse/src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): add imdb block box
  .vscode/settings.json
  apps/multiverse/next.config.js
  apps/multiverse/pages/movies/index.tsx
  apps/multiverse/project.json
  apps/multiverse/src/components/imdb-card/imdb-card.tsx
  apps/multiverse/src/types/link-preview.ts
  apps/multiverse/tailwind.config.js
  libs/assets/project.json
  libs/assets/src/svgs/brands/imdb.svg
  libs/configs/src/notion-client.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Due: sort-package-json, prettier --write --ignore-unknown, eslint --fix, prettier --write

feat(app): remove the acssess token cache
  nx.json
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write --ignore-unknown: any of: *
  eslint --fix: any of: *.{ts,tsx,js,jsx,json}
  prettier --write: any of: *.{ts,tsx,js,jsx,json}
